:root{
    --bckgrnd: #acacac;
    --color: #ffffff;
    --color2: #000000;

}
.dropdown{
    display: none;

    button{
        background: none;
        border: solid 3px var(--color2);
        border-radius: 7px;
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: var(--color2);
        cursor: pointer;

        &:hover{
            transition: all 0.4s ease;
            background-color: green;
        }
    }
    ul{
        display: block;
        padding: 10px 15px;
    }

    .content{
        display: none;
        position: absolute;
        border: solid;
        border-radius: 7px;
        color: var(--color);
        font-size: 30px;
        padding: 10px 15px;

        background-color: var(--bckgrnd);


    }

}
    //display the dropdown menu on click
.show {
    display: block;
    background-color: var(--bckgrnd);
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    .navigation{
        display: none;
    }

    .dropdown{
        display: block;
    }


}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}




nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    position: fixed;

    backdrop-filter: blur(5px);

    height: 80px;
    border-radius: 13px;
    border: solid 2px var(--color2);


    top: 0;
    left: 0;

    width: calc(100% - 1rem);
    padding: 1.3rem 10%;
    margin: 0.5rem;

    z-index: 5;
    
    h1{
        color: var(--color2);
        font-size: 35px;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 5vw;
        color: var(--color1);
        
        font-size: 30px;
    
        li{
            position: relative;
            transition: all 0.4s ease;
    
            &:hover{
                color: var(--color2);
            }
    
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 100%;
                width: 0;
                height: 2px;
                background-color: var(--color2);
            }
    
            &:hover::after{
                animation: hoveranim1 0.3s ease forwards;
                background-color: var(--color2);
            }
    
            &:not(:hover)::after{
                animation: hoveranim1rev 0.3s ease forwards;
            }
        }

        a{
            text-decoration: none;
            color: var(--color2);
        }
    }
}

.home{
    padding: 0;
}

//the sections
section{
    //basics
    display: flex;

    border: --color2 1px;
    border-style: solid;

    padding: 5rem;
    

    width: 100vw;
    height: 100vh;


    //left or right section
    &.left{
        text-align: left;
        p{
            max-width: 45%;
        }
    }
    &.right{
        text-align: right;
        p{
            padding-left: 55%;
        }
    }


    // the text inside the sections
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p{
            text-align: justify;
            font-size: 1.2srem;
        }

    }

}


///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
                    /* ANIMATIONS */

@keyframes hoveranim1 {
    from {
        translate: 0 0;
        bottom: 0;
        left: 0;
        width: 0;
    }

    to {
        translate: 0 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}


@keyframes hoveranim1rev {
    from {
        translate: 0 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    to {
        translate: 0 0;
        bottom: 0;
        left: 100%;
        width: 0;
    }
}
