:root {
  --bckgrnd: #f6efef;
  --color: #221D23;
  --color2: #ae0e0e;
}

.darkmode {
  --bckgrnd: #221D23;
  --color: #FBF6EF;
  --color2: #ae0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background-color: var(--bckgrnd);
  color: var(--color);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.dropdown {
  display: none;
}
.dropdown button {
  background: none;
  border: solid 3px var(--color);
  border-radius: 7px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  color: var(--color);
  cursor: pointer;
}
.dropdown button:hover {
  transition: all 0.4s ease;
  background-color: green;
}
.dropdown ul {
  display: block;
  padding: 10px 15px;
}
.dropdown .content {
  display: none;
  position: absolute;
  border: solid;
  border-radius: 7px;
  color: var(--color);
  font-size: 30px;
  padding: 10px 15px;
  background-color: var(--bckgrnd);
}

.show {
  display: block;
  background-color: var(--bckgrnd);
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 80px;
  border-radius: 13px;
  border: solid 2px var(--color);
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  padding: 1.3rem 10%;
  margin: 0.5rem;
  z-index: 5;
}
nav h1 {
  color: var(--color);
  font-size: clamp(25px, 7vw, 50px);
  font-family: "Playfair Display", serif;
}
nav h1::first-letter {
  color: var(--color2);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  color: var(--color1);
  font-size: 30px;
}
nav ul li {
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 2px;
  background-color: var(--color);
}
nav ul li:hover::after {
  animation: hoveranim1 0.3s ease forwards;
  background-color: var(--color2);
}
nav ul li:not(:hover)::after {
  animation: hoveranim1rev 0.3s ease forwards;
}
nav ul a {
  text-decoration: none;
  color: var(--color);
}

#theme-switch {
  transition: all 0.4s ease;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: clamp(40px, 10vw, 70px);
  height: clamp(40px, 10vw, 70px);
  padding: 0;
  margin: 1rem;
  border-radius: 50%;
  border: dotted 5px var(--color);
  background: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
@media screen and (max-width: 425px) {
  #theme-switch {
    border-width: 3px;
  }
  #theme-switch svg {
    width: 20px;
    height: 20px;
  }
}
#theme-switch:hover svg {
  transition: all 0.7s ease-in-out;
  scale: 1.2;
  rotate: 180deg;
}
#theme-switch:not(hover) svg {
  transition: all 0.7s ease-in-out;
  scale: 1;
  rotate: -180deg;
}
#theme-switch svg {
  fill: var(--color);
}
#theme-switch svg:first-child {
  display: none;
}
#theme-switch svg:last-child {
  display: block;
}
.darkmode #theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: block;
}

.home {
  padding: 0;
}

section {
  display: flex;
  border: var(--colo) 0.1rem;
  border-style: dotted;
  padding: 5rem;
  width: 100vw;
  min-height: 100vh;
}
section.left {
  text-align: left;
}
section.left p {
  max-width: 45%;
}
section.right {
  text-align: right;
}
section.right p {
  padding-left: 55%;
}
section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .text h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.3rem);
  margin-bottom: 1rem;
}
section .text h2::first-letter {
  color: var(--color2);
}
section .text p {
  text-align: justify;
  font-size: clamp(0.8rem, 1.6vw, 1.5rem);
}
@media screen and (max-width: 425px) {
  section .text {
    align-items: center;
    padding: 0;
  }
  section .text p {
    max-width: 100%;
    text-align: justify;
    padding: 0;
  }
}

/* ANIMATIONS */
@keyframes hoveranim1 {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@keyframes hoveranim1rev {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 100%;
    width: 0;
  }
}/*# sourceMappingURL=style.css.map */